@model TodoModel

<li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
    <div class="d-flex align-items-center">
        <input onclick="editFunc(@Model.Id)" class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
        @Model.Content
    </div>
    <a href="#!" onclick="deleteFunc(@Model.Id)" id=@Model.Id data-mdb-toggle="tooltip" title="Remove item">
        <i class="fas fa-times text-primary"></i>
    </a>
</li>